
<section class="flex flex-column gap-3">
    <% if(hasDependencies){ %>
<%- include("../ui/announcement", {textBold: "NOTE: ", text: `To delete this item, first delete it's dependencies`}) %>
    <%}%>

  <div class="d-flex justify-content-center">
    <%- include("../ui/deleteModal.ejs", {entity: "categories", id: item._id, hasDependencies}) %>
    <%- include("../ui/updateButton.ejs", {entity: "categories", id: item._id}) %>
  </div>
<div class="card bg-dark text-white">
<div class="card-header">
  <h1 class="card-title"><%= item?.name %> (Category) </h1>
</div>

  <div class="card-body">
  <div>

        <strong class="card-title h3">Products</strong>

        <ul class="list-group">
      <% item.products.forEach(product => { %>
          <li class="list-item"> <a href=<%= `/products/${product._id}` %> class="link-info"><%= `${product?.productInfo?.name}  (${product?.productInfo?.quantityInStock} available)` %> </a></li>
      <% }) %>
        </ul>
  </div>
</div>

<section class="flex flex-column gap-3">
