
<form class="d-flex flex-column gap-2 py-3 pb-5" method="post" id="formD" novalidate>

  <!-- shop selector  -->
    <label for="shopSelect" class="text-white bg-dark text-white rounded text-center"> Sold at shop: </label>
    <select class="form-select form-select-sm mb-3" aria-label="Multiple select shops" id="shopSelect" name="shopId">
       <% shops.forEach(shop => {  %>
       <option value="<%= shop._id %>"
       <%= item.shopId == shop._id.toString() ? 'selected' : '' %>
    ><%= shop.name %></option>
       <% })  %>
    </select>

  <!-- worker selector  -->
    <label for="workerSelect" class="text-white bg-dark text-white rounded text-center"> Workers who sold the item: </label>
    <select class="form-select form-select-sm mb-3" aria-label="Multiple select shops" id="workerSelect" name="workerId">
       <% workers.forEach(worker=> {  %>
       <option value="<%= worker._id %>"
       <%= item.workerId == worker._id.toString() ? 'selected' : '' %>
    ><%= worker.personalInfo.firstName + " " + worker.personalInfo.lastName + " (" + worker.role + ") "  %></option>
       <% })  %>
    </select>

  <!-- customer selector  -->
    <label for="customerSelect" class="text-white bg-dark text-white rounded text-center"> Customer who bought the item: </label>
    <select class="form-select form-select-sm mb-3" aria-label="Multiple select shops" id="customerSelect" name="customerId">
       <% customers.forEach(customer=> {  %>
       <option value="<%= customer._id %>"
       <%= item.customerId == customer._id.toString() ? 'selected' : '' %>
    ><%= customer.name + " " + " (" + customer.phoneNumber + ") "  %></option>
       <% })  %>
    </select>

  <!-- producst sold -->
    <label for="workerSelect" class="text-white bg-dark text-white rounded text-center"> Products sold: </label>
    <select class="form-select form-select-sm mb-3" aria-label="Multiple select shops" multiple id="workerSelect" name="products">
       <% products.forEach(product => {  %>
       <option value="<%= product._id %>"

       <%= item.products.some(p => p.product._id === product._id ) ? "selected" : "" %>

    ><%= product.productInfo.name + " " + " (" + product.productInfo.quantityInStock + " left ) "  %> 
    </option>
       <% })  %>

    </select>

  <button class="btn btn-success" id="formSubmit" >Submit</button>
</form>
